body{
    background-color: black;
}
*{
    /* border :1px solid red; */
    margin: 0;
    padding: 0;
}

.clk{
    height: 100px;
    width: 100px;
    border: 3px solid rgb(0,255,242);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(180deg);
}
.cnsel{
    height: 55%;
    width: 55%;
    background:  rgb(0, 0, 0);
    position: absolute;
    padding: 15%;
    border-radius: 50%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.thre_ni{
    height: 1%;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 0, 0);
}
.twl_sx{
    height: 100%;
    width: 1%;
    position: absolute;
    background-color: rgb(255, 0, 0);
}
.on_sv{
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
.tw_et{
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
}
.fr_tn{
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
}
.fv_el{
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
}
.pnt{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(247, 0, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.needle{
    height: 2px;
    top: 50%;
    left: 50%;
    position:absolute;
    transform-origin:0%;
}
.sec{
    background-color: rgb(255, 255, 255);
    width: 40%;
    z-index: 2;
}
.min{
    background-color: rgb(0, 174, 255);
    width: 30%;
    z-index: 3;
}
.hrs{
    background-color: rgb(255, 0, 0);
    width: 20%;
    z-index: 4;
}
